
html
{
  background-color:black;
}


body{
   font-family:sans-serif;
   font-size:2 em;
   line-height:1.5 em;
}

img1{
  width:80%;
  height:10%;
}

h1
{
   text-transform:uppercase;
   text-align:center;
   padding-top:20px;
   color:#ffd88e;
}

h2
{
color:red;
text-transform:uppercase;
}

#main
{
  background-color:white;
  padding:0em 1em 1em;
  padding-top:10px;
 margin-left:2.4%;
margin-right:auto;
  float:left;
  width:92%;
}
#logo
{
margin-left:auto;
margin-right:auto;
  float:right;
  width:18%;
  height:80%;
 }




#footer
{
   text-align:center;
   
   position:fixed;
   text-align:right;
   background-color: slategrey;
   padding:10px;
   clear:both;
   font-size:18px;
   color:white;
   
}

#menu
{
  list-style-type:none;
  margin :0;
  padding:0;
  overflow:hidden;
}

#items
{
   float:left;
}

a:link,a:visited
{
   display:block;
   width:120px;
   font-weight:bold;
   background-color:black;
   color:white;
   text-align:center;
   padding:4px;
   text-decoration:none;
   text-transform:uppercase;
}


a:hover,a:active
{
   color:ff5c5c;
}


@keyframes slider{

 0% {
   left: 0;
 }

 20% {
   left: 0;
 }
 25% {
   left: -100%;
   }
 45% {
   left: -100%;
   }
  50% {
  left: -200%;
  }
  70% {
  left: -200%;
  }
  
  75%% {
  left: -300%;
  }
  95% {
  left: -300%;
  }
  
  100% {
  left: -400%;
  }
  
  }
  
  
  #slider {
  overflow:hidden;
  }
  
  #slider figure img{
   width: 20%;
   float: left;
 }
 
  #slider figure {
  position: relative;
  width:500%;
  margin: 30px;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slider infinite;
  }
  
  
  